form {
    padding: 0px 30px;
}

input {
    width: 80%;
    height: 30px;
    padding: 5px 12px;
}

button {
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgb(13, 96, 92);
    padding: 0;
    border: 0;
    font-size: 25px;
    font-weight: bold;
}